* {
    box-sizing: border-box; 
}
body {
    background-image: url(../grids-flexbox/img/coldplay-a-sky-full-of-stars-e605afma2st35f4w.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

h1 {
    text-align:center;
    font-size: 30px;
}

.container {
    width: 800px;
    margin: 5% auto;
    justify-content: space-between;    
}

form {
    display:flex;
    border-color: white;
    border-radius: 25%;
    
}

.message-area {
   display: flex; 
   flex-direction: column;
   order: 2;
   flex-grow: 1;
   padding: 15px;
}

textarea {
    height: 200px;
    resize: none;
    border: 5px solid black;
    font-size: 20px;
}

.details-area {
    flex-grow: 1;
    order: 1;
    margin-right: 2em;
    
}

input {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 5px solid black;
}

ul {
    list-style: none;
}

.footer-icons {
    margin: 2px;
    width: 40px;
    height: 40px;
    margin-right:10px;
}